.contactCard {
  width: 865px;
  height: 303px;
  background: rgba(18, 17, 32, 1);

  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.05);
  color: #fff;

  margin-top: 109px;
  margin-left: 480px;
}
.profiles {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.profiles img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
  border: 2px solid #fff;
}
.status {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2a233d;
  width: 154px;
  height: 39px;
  border-radius: 30px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 15.24px;
  text-align: left;
}
.status span {
  width: 10px;
  height: 10px;
  background-color: #2df06b;
  border-radius: 50%;
  margin-right: 8px;
}
.content {
  margin-top: 38px;
}
.content h2 {
  margin: 0;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
  text-align: left;
  margin-top: 38px;
}
.content p {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20.58px;
  text-align: left;
  color: rgba(255, 255, 255, 0.4);
  margin-top: 38px;
}
.social-icons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 50px;
}

.social-icons a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}
.btn {
  background: linear-gradient(90.82deg, #4728d3 13.25%, #663bc2 96.98%);
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.94px;
  width: 251px;
  height: 50px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 4px 10px rgba(132, 80, 255, 0.3);
  transition: background 0.3s ease;
}
.btn:hover {
  background: #7a42e2;
}
