.Sponsor {
}

.SponsorHeading {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  margin: 8px auto;
}
.SponsorImg {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 88px 150px auto 150px;
  gap: 20px;
}
